.Header-wrapper, .Header, .Header a {
    height: 60px;
}

.Header-wrapper {
    margin-bottom: 30px;
}

.Header_title {
    font-family: 'Oswald', sans-serif;
}

.Header {
    background-color: #2B3D4F;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}

.Drawer {
    background-color: #2B3D4F;
    width: 100%;
    height: 100%;
}

.Header a, .Drawer a {
    color: #FFF !important;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.Header_icon {
    margin-right: 5px;
}

.Drawer a {
    color: #FFF !important;
    text-decoration: none !important;
    padding: 20px 20px;
    transition: all 0.3s;
    width: 100%;
}

.Header a:hover, .Drawer a:hover, .Header_active {
    background-color: #34495e;
}

.Header_btn {
    display: none;
}

@media only screen and (max-width: 810px) {
    .Header_btn {
        display: inline-block;
    }

    .Header_navigation {
        display: none;
    }
}