.ListHeader {
    background-color: #f5f5f5;
    border-top: 1px solid hsl(0, 0%, 82%);
    border-bottom: 2px solid hsl(0, 0%, 82%);
    border-top: none;
    border-left: 1px solid hsl(202, 10%, 88%);
    color: #333333;
    font-size: 13px;
    text-align: left;
    padding: 10px;
    font-weight: normal;
    cursor: pointer;
    user-select: none;
}

.ListHeader:last-of-type {
    border-right: 1px solid hsl(202, 10%, 88%);
}

.ListHeader-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ListHeader-icon {
    opacity: 0;
    margin-left: 5px;
    font-size: 15px;
    transition: all 0.2s;
}

.ListHeader_asc .ListHeader-icon, .ListHeader_desc .ListHeader-icon {
    opacity: 1;
}

.ListHeader_asc .ListHeader-icon {
    transform: rotate(180deg);
}