.Card {
    margin: 20px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    overflow: hidden;
}

.Card_normal {
    padding: 20px 20px 17px;
}

.Card_odd {
    background-color: #F9F9F9;
}

.Card_title {
    font-weight: bold;
}

.Card_title_number {
    font-weight: normal;
    margin-left: 25px;
    margin-top: 3px;
    font-size: 14px;
    opacity: 0.8;
}

.Card_owner {
    font-size: 12px;
    opacity: 0.8;
    margin-left: 15px;
    font-weight: normal;
}

.Card_offers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 8px -3px 0;
}

.Card_offer {
    margin: 3px;
}

.Card_content {
    padding: 20px 20px 30px;
}