.Home_header {
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    background-color: transparent;
    color: black;
}

.Home_section {
    width: 100%;
    margin-top: 20px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Home_section article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    padding: 20px;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

.Home_section article h2 {
    margin-top: 0;
}

.Home_needs {
    background-color: #3BBFB4;
}

.Home_offers {
    background-color: #9550BF;
}

.Home_section article a {
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    margin: 5px;
    border: 1px solid white;
    text-decoration: none;
}

.Home_section article.needs a:hover {
    color: #3BBFB4;
    background-color: white;
}

.Home_section article.offers a:hover {
    color: #9550BF;
    background-color: white;
}

@media only screen and (max-width: 750px) {
    .Home_section {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}
