* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2B3D4F;
}

.flex_row_center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex_column_center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.justifyContent_spaceBetween {
    justify-content: space-between;
}

.flexWrap_wrap {
    flex-wrap: wrap;
}

.alignItems_center {
    align-items: center;
}
